# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
.next
out
build

# Testing
coverage

# Misc
.DS_Store
*.pem
.idea
.vscode

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Turbo
.turbo

# Docker
*.tar
*.tar.gz

# Git
.git
.gitignore

# Documentation
*.md
!README.md

# Tests
**/*.test.ts
**/*.spec.ts
**/__tests__
jest.config.*
